/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

/* header */
.header, .topbar, .links, .main, .signup, .content, .quote, .footer {
  display: flex;
}

img {
  width: 600px;
  height: 300px;
}

h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 800;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.logo {
  font-size: 24px;
}

li {
  margin-left: 24px;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

a:hover {
  color: gray;
}

.links {
  color: #E5E7EB;
  font-size: 18px;
}

.main {
  justify-content: center;
  margin-top: 72px;
}

.header p {
  color: #E5E7EB;
  font-size: 18px;
  padding-right: 68px;
}

.header {
  flex-direction: column;
  background-color: #1F2937;
  padding: 26px 250px 120px;
}

.topbar {
  justify-content: space-between;
}

.signup {
  flex-direction: column;
}

.signup button, .signup p {
  margin-top: 12px;
}

button {
  width: 84px;
  background-color: #3882F6;
  color: white;
  padding: 6px 16px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
}

button:active {
  background-color: gray;
}

/* information section */

.smallimg {
  width: 200px;
  height: 200px;
}



/* footer */